<%= javascript_include_tag "masonry.pkgd.min.js" %>

<div class="notice-message">&nbsp;</div>

<div class="content-box">
	<div id="message-board-shadow-top"><%= image_tag 'shadow-top.jpg', :alt => 'shadow' %></div>
	<div id="message-board-content">
		<h1><%= @access_user.first_name.capitalize %>'s Message Board</h1>
		<div id="add-message" class="btn btn-success">Add a Message</div><br /><br />
		<div id="new-message">
			<%= render :partial => "new_message", :locals => { :message => Message.new(:message_board_id=>@message_board.id) }, :remote => true %>
		</div>
		
		<div id="show-message-board">
			<%= render :partial => "show_message_board", :locals => { :messages => @access_user.messages }, :remote => true %>	
		</div>
		
	</div>
	<div id="message-board-shadow-bottom"><%= image_tag 'shadow-bottom.jpg', :alt => 'shadow' %></div>
</div>