

<%= form_for(@guest) do |f| %>
  <% if @guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
      <% @guest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  
  <div class="field">
  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %>
  </div>

  <div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
  <%= f.label :current_password %> <i>(we need the current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %>
  </div>

  <div class="actions field">
    <%= f.submit 'Update Guest', :class => 'btn btn-success' %>
  </div>
<% end %>

