<div id="user-left-wrapper">
	<div id="shadow-left-top"><%= image_tag 'shadow-top.jpg', :alt => 'shadow' %></div>
	<div id="user-left">
	<div id="my-account-left">
	<h2>Guest Account</h2>
	<ul>
		<% if current_guest.user.funeral.present? %>
		<li><%= link_to 'Funeral Preferences', funeral_path(current_guest.user.funeral) %></li>
			<% end %>
    	<li><%= link_to 'Timeline', timeline_path(current_guest.user.timeline) %></li>
        <li><a href="#">Order of Service</a></li>
        <li><a href="#">Message Board</a></li>
        <% if current_guest.user.keyholder.present? %>
        	<li><%= link_to 'Keyholder Details', :controller => "/keyholders", :id => current_guest.user.keyholder.id, :action => "contact" %></li>
        	<% end %>
	</ul>
	</div>
	<br /><br />
	
	<div id="help-left">
		<h2>Help</h2>
			<ul>
				<li><%= link_to 'FAQ', "#" %></li>
				<li><%= link_to 'Contact Us', "#" %></li>
			</ul>
	</div>
	</div>
	<div id="shadow-left-bottom"><%= image_tag 'shadow-bottom.jpg', :alt => 'shadow' %></div>
</div>
<div id="user-right-wrapper">
	<div id="shadow-top"><%= image_tag 'shadow-top.jpg', :alt => 'shadow' %></div>
	<div id="user-right">
		<h1>What do you want to do...?</h1><br />
		<p>The below explains what you can do with the information <%= current_guest.user.first_name %> added to their account and what you can add yourself.</p>
		<h3>Available to you:</h3>
		<ul>
			<li><% if current_guest.user.funeral.present? %>
				<%= link_to 'View', funeral_path(current_guest.user.funeral) %> the funeral preferences
				<% else %>
				Funeral preferences are unavailable as none were stated
				<% end %>
			</li>
			<li><%= link_to 'View timeline', timeline_path(current_guest.user.timeline) %> and create events</li>
			<li>Placeholder for Order of Service</li>
			<li>Placeholder for Message Board</li>
			<li><%= link_to 'View', keyholder_path(current_guest.user.keyholder) %> the keyholder's details</li>
						
		</ul>
	    <h3>Checklist:</h3>
	    <p>This checklist shows you what has been created so far. Not all features may be available to you.</p>
	    <ul id="checklist">
	    	<% if current_guest.user.funeral.present? %>
	    	<li>Funeral Preferences - <%= image_tag 'green-tick.png', :alt => 'Yes' %></li>
	    	<% else %>
	    	<li>Funeral Preferences - <%= image_tag 'red-cross.png', :alt => 'No' %></li>
	    	<% end %>
	    	<% if current_guest.user.timeline.present? %>
	    	<li>Timeline set up - <%= image_tag 'green-tick.png', :alt => 'Yes' %></li>
	    	<% else %>
	    	<li>Timeline set up - <%= image_tag 'red-cross.png', :alt => 'No' %></li>
	    	<% end %>
	    	<% if current_guest.user.timeline.events.present? %>
	    	<li>Timeline event added - <%= image_tag 'green-tick.png', :alt => 'Yes' %></li>
	    	<% else %>
	    	<li>Timeline event added - <%= image_tag 'red-cross.png', :alt => 'No' %></li>
	    	<% end %>
	    	<li>Order of Service - <%= image_tag 'red-cross.png', :alt => 'No' %></li>
	    	<li>Message Board - <%= image_tag 'red-cross.png', :alt => 'No' %></li>
	    	<% if current_guest.user.guest.present? %>
	    	<li>Guest account created - <%= image_tag 'green-tick.png', :alt => 'Yes' %></li>
	    	<% else %>
	    	<li>Guest account created - <%= image_tag 'red-cross.png', :alt => 'No' %></li>
	    	<% end %>
	    </ul>
    </div>
    <div id="shadow-bottom"><%= image_tag 'shadow-bottom.jpg', :alt => 'shadow' %></div>
</div>
