<div class="content-box">
	<div id="form-shadow-top"><%= image_tag 'shadow-top.jpg', :alt => 'shadow' %></div>
	<div id="form-pref-content">
		<h1>Funeral Preferences</h1>
		
<p>
  <b>Funeral preference:</b>
  <%= @funeral.funeral_pref %>
</p>

<% if @funeral.funeral_pref == "Other" %>
	<p>
  		<b>Other preference:</b>
  		<%= @funeral.other_pref %>
	</p>
<% end %>

<% if @funeral.funeral_pref == "Burial" %>
<p>
  <b>Burial location:</b>
  <%= h(@funeral.burial_location).gsub(/\n/, '<br />').html_safe %>
</p>
<% end %>

<% if @funeral.funeral_pref == "Cremation" %>
<p>
  <b>Ashes location:</b>
  <%= h(@funeral.ashes_location).gsub(/\n/, '<br />').html_safe %>
</p>
<% end %>

<p>
  <b>Casket or urn preference:</b>
  <%= h(@funeral.casket_pref).gsub(/\n/, '<br />').html_safe %>
</p>
<p>
  <b>Service location:</b>
  <%= h(@funeral.service_location).gsub(/\n/, '<br />').html_safe %>
</p>

<p>
  <b>Hymns or special songs:</b>
  <%= h(@funeral.songs_pref).gsub(/\n/, '<br />').html_safe %>
</p>

<p>
  <b>Readings:</b>
  <%= h(@funeral.readings).gsub(/\n/, '<br />').html_safe %>
</p>

<p>
  <b>Speakers:</b>
  <%= h(@funeral.speakers).gsub(/\n/, '<br />').html_safe %>
</p>

<p>
  <b>Final words:</b>
  <%= h(@funeral.final_words).gsub(/\n/, '<br />').html_safe %>
</p>

<p>
  <b>Dress Code:</b>
  <%= @funeral.dress_code %>
</p>

<p>
  <b>Flowers:</b>
  <%= @funeral.flowers %>
</p>

<p>
  <b>Donations To:</b>
  <%= @funeral.donations_to %>
</p>

<p>
  <b>Wake:</b>
  <%= h(@funeral.wake).gsub(/\n/, '<br />').html_safe %>
</p>

<p>
  <b>Epitaph:</b>
  <%= h(@funeral.epitaph).gsub(/\n/, '<br />').html_safe %>
</p>

<p>
  <b>Additional Requirements:</b>
  <%= h(@funeral.additional_reqs).gsub(/\n/, '<br />').html_safe %>
</p>

<% if can? :update, @funeral %>
	<%= link_to 'Edit', edit_funeral_path(@funeral), :class=>"btn btn-info" %>
<% end %> 
<% if cannot? :update, @funeral %>
	<br /><span class="unavailable-item borderless-bottom">These are the preferences set by <%= @funeral.user.first_name %> and so are not editable by anyone else.</span>
<% end %><br />
</div>
<div id="form-shadow-bottom"><%= image_tag 'shadow-bottom.jpg', :alt => 'shadow' %></div>

</div>
