<div class="content-box">
	<div id="form-shadow-top"><%= image_tag 'shadow-top.jpg', :alt => 'shadow' %></div>
	<div id="form-pref-content">
		<h1>Keyholder Account</h1>
		<br />

<p>
  <b>First name:</b>
  <%= @keyholder.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @keyholder.last_name %>
</p>

<p>
  <b>Email:</b>
  <% if @keyholder.email.present? %>
  <%= @keyholder.email %>
  <% else %>
  <i>No email address has been given</i>
  <% end %>
</p>

<% if @keyholder.email.present? %>
<a href="mailto:<%= @keyholder.email %>?Subject=Forgot%20Not%20query" target="_top" class="btn btn-info">Email Keyholder</a>
<% end %>
</div>
<div id="form-shadow-bottom"><%= image_tag 'shadow-bottom.jpg', :alt => 'shadow' %></div>

</div>