<div class="content-box">
	<div id="form-shadow-top"><%= image_tag 'shadow-top.jpg', :alt => 'shadow' %></div>
	<div id="form-pref-content">
		<h1>Keyholder Account</h1>
		<br />

<p>
  <b>First name:</b>
  <%= @keyholder.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @keyholder.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @keyholder.email %>
</p>

</div>
<div id="form-shadow-bottom"><%= image_tag 'shadow-bottom.jpg', :alt => 'shadow' %></div>

</div>