<div class="content-box">
	<div id="form-shadow-top"><%= image_tag 'shadow-top.jpg', :alt => 'shadow' %></div>
	<div id="form-pref-content">

<h1>My details</h1>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Name:</b>
  <%= @user.first_name %> <%= @user.middle_names %> <%= @user.last_name %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @user.date_of_birth.strftime("#{@user.date_of_birth.day.ordinalize} %B %Y") %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>First line of address:</b>
  <%= @user.line_1 %>
</p>

<p>
  <b>Second line of address:</b>
  <%= @user.line_2 %>
</p>

<p>
  <b>Third line of address:</b>
  <%= @user.line_3 %>
</p>

<p>
  <b>Town:</b>
  <%= @user.town %>
</p>

<p>
  <b>County:</b>
  <%= @user.county %>
</p>

<p>
  <b>Postcode:</b>
  <%= @user.postcode %>
</p>

<p>
  <b>Contact number:</b>
  <%= @user.contact_number %>
</p>

<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-info" %>
</div>
<div id="form-shadow-bottom"><%= image_tag 'shadow-bottom.jpg', :alt => 'shadow' %></div>

</div>