
<div class="content-box">
	<div id="form-shadow-top"><%= image_tag 'shadow-top.jpg', :alt => 'shadow' %></div>
	<div id="form-pref-content">
<br />
<h3>Edit the selected event <% if event.headline.blank? %>&nbsp;<% else %>(<%= event.headline.gsub(/^(.{20}[\w.]*)(.*)/) {$2.empty? ? $1 : $1 + '...'} %>):<% end %></h3>

<%= form_for(@event, :remote => true) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :headline %><br />
    <%= f.text_area :headline, :size => "45x4" %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text, :size => "45x4" %>
  </div>
  <div class="field">
    <%= f.label :media %><br />
    <%= f.text_field :media, :size => 47 %>
  </div>
  <div class="field">
    <%= f.label :caption %><br />
    <%= f.text_area :caption, :size => "45x4" %>
  </div>
  <div class="actions field">
    <%= f.submit "Update Event", :class => "btn btn-success" %>
  </div>
<% end %>
</div>
<div id="form-shadow-bottom"><%= image_tag 'shadow-bottom.jpg', :alt => 'shadow' %></div>

</div>
