<div class="content-box">
	<div id="form-shadow-top"><%= image_tag 'shadow-top.jpg', :alt => 'shadow' %></div>
	<div id="form-pref-content">

<h2>Add a keyholder</h2>
<br />
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<span><i>Required fields are marked with a *</i></span>
  <div class="field">
  <%= f.label :username %><%= mark_required(@keyholder, :username) %><br />
  <%= f.text_field :username, :autofocus => true %>
  </div>

  <div class="field">
  <%= f.label :password %><%= mark_required(@keyholder, :password) %><br />
  <%= f.password_field :password %>
  </div>
  
  <div class="field">
  <%= f.label :password_confirmation %>*<br />
  <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="field">
  <%= f.label :email %><%= mark_required(@keyholder, :email) %><br />
  <%= f.email_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :first_name %><%= mark_required(@keyholder, :first_name) %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><%= mark_required(@keyholder, :last_name) %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :house_name_or_number %><%= mark_required(@keyholder, :house) %><br />
    <%= f.text_field :house %>
  </div>
  <div class="field">
    <%= f.label :postcode %><%= mark_required(@keyholder, :postcode) %><br />
    <%= f.text_field :postcode %>
  </div>

  <div class="field">
  <%= f.submit "Sign up", :class => "btn btn-success" %>	
  </div>
<% end %>
<br />

</div>
<div id="form-shadow-bottom"><%= image_tag 'shadow-bottom.jpg', :alt => 'shadow' %></div>

</div>

