<div class="content-box">
	<div id="form-shadow-top"><%= image_tag 'shadow-top.jpg', :alt => 'shadow' %></div>
	<div id="form-pref-content">
<br />
<h2>Delete Events</h2><br />
<h4>Click 'delete' next to the event that you want to remove. Once deleted, the event cannot be retrieved again.</h4>

<table class="table table-hover">
  <tr>
  	<thead>
	    <th>Start date</th>
	    <th>Headline</th>
	    <th>Text</th>
	    <th>Media</th>
	    <th>Caption</th>
	    <th></th>
	</thead>
  </tr>

<% events.each do |event| %>
  <tr>
    <td><% if event.start_date.blank? %>&nbsp;<% else %><%= event.start_date.strftime("%d/%m/%Y") %><% end %></td>
    <td><% if event.headline.blank? %>&nbsp;<% else %><%= event.headline.gsub(/^(.{50}[\w.]*)(.*)/) {$2.empty? ? $1 : $1 + '...'} %><% end %></td>
    <td><% if event.text.blank? %>&nbsp;<% else %><%= event.text.gsub(/^(.{50}[\w.]*)(.*)/) {$2.empty? ? $1 : $1 + '...'} %><% end %></td>
    <td><% if event.media.blank? %>&nbsp;<% else %><%= event.media.gsub(/^(.{50}[\w.]*)(.*)/) {$2.empty? ? $1 : $1 + '...'} %><% end %></td>
    <td><% if event.caption.blank? %>&nbsp;<% else %><%= event.caption.gsub(/^(.{50}[\w.]*)(.*)/) {$2.empty? ? $1 : $1 + '...'} %><% end %></td>
    <td><%= button_to 'Delete', event, confirm: "Are you sure you want to remove this event?\nOnce deleted, the event cannot be retrieved again.",
     method: :delete, :class => "btn btn-danger btn-mini", :update => "notice", :remote => true %></td>
  </tr>
<% end %>
</table>

</div>
<div id="form-shadow-bottom"><%= image_tag 'shadow-bottom.jpg', :alt => 'shadow' %></div>

</div>