<%= javascript_include_tag "/js/storyjs-embed.js" %>
<%= javascript_include_tag "timeline-forms" %>

<div id="show-timeline">
<%= render :partial => "show_timeline" %>
</div>

<div class="content-box timeline-box">
	<div id="my-timeline-box">
		<%= render :partial => "my_timeline" %>
	</div>
<br />

<button id="new-event-button" class="btn btn-success btn-large">New Event</button>
<% if can? :update, Event %>
<button id="edit-events-button" class="btn btn-info btn-large">Edit Events</button>
<% end %>
<% if can? :destroy, Event %>
<button id="delete-events-button" class="btn btn-danger btn-large">Delete Events</button>
<% end %>

<div id="events-forms">
	
	<div id="new-event">
		<%= render :partial => "new_event", :locals => { :event => Event.new(:timeline_id=>@timeline.id) }, :remote => true %>
	</div>
	
	<div id="edit-events">
		<% if can? :update, Event %>
		<%= render :partial => "edit_events", :locals => { :events => @access_user.events }, :remote => true %>
		<% end %>	
	</div>

	<div id="delete_events">
		<% if can? :destroy, Event %>
		<%= render :partial => "delete_events", :locals => { :events => @access_user.events } %>
		<% end %>		
	</div>
</div>
<div id="events-forms-edit">&nbsp;</div>

</div>
